<!DOCTYPE html>
<html lang="en" id="app" class="full_height">
<head>
  <link rel="shortcut icon" href="images/favicon.ico" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <base href="/" />
  <title ng-bind="title"></title>
</head>
<body class="full_height">
  <div class="full_height">
    <layout></layout>
  </div>
</body>
</html>
